.messages {
  border: 1px solid #adc5e6;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  min-height: 113px;
  display: flex;
  flex-direction: column;

  &__message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &--you {
      border: 1px solid #adc5e6;
      border-radius: 3px;
      padding: 10px;
    }
  }

  &__username,
  &__date {
    line-height: 20px;
    opacity: 0.5;
  }

  &__text {
    line-height: 20px;
  }
}
